@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-color: #111114;
    color: #eee;
    font-family: Inconsolata,monospace;
    overflow:hidden;
}

h1{
    text-align: center;
    font-family:'VT323', monospace;
    font-size: 3em;
}
h2{
    font-family:'VT323', monospace;

}
h4{

    margin-inline-end:auto;
}

b, strong{
    color:#8ea5ff;
}

::-moz-selection {
    color: #eee;
    background: #8ea5ff;
}
  
::selection {
    color: #eee;
    background: #8ea5ff;
}

#loading{
    filter: blur(100px);
}

#loadingText{
    visibility: visible;
    position: absolute;
    top: 50vh;
    left: 50%;
    color: #eee;
    z-index: 100;
}

.modal-content{

    background-color: #272930;
}
.modal-header{

    border-bottom: 3px solid #333333;
   
}
.modal-header .close{

    color: aliceblue;
   
}
.modal-footer{
    border-top: 3px solid #333333;
}
strong:hover{
    color: #eee;
    transform: scale(1.1);
    text-shadow:  0 0.15em 0 rgba(255, 0, 0, 0.75),
    -0.1em -0.1em 0 rgba(0, 255, 0, 0.75),
    0.2em 0.1em 0 rgba(0, 0, 255, 0.75);
}
.pointer{
    cursor:pointer;
    
}
.pointer:hover {

    transform: scale(1.1);
    text-shadow:  0 0.15em 0 rgba(255, 0, 0, 0.75),
    -0.1em -0.1em 0 rgba(0, 255, 0, 0.75),
    0.2em 0.1em 0 rgba(0, 0, 255, 0.75);
}
ul.divided{
    list-style: none;
    font-family:'VT323', monospace;
    
 
}
ul.divided >li{
    border-top: solid 2px #e7eae8;
    padding-top: 1.35em;
    margin-top: 1.35em;
    padding-left: 0;
}
ul.divided > li:first-child{
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}
.navbar {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    padding-bottom: 0;
    padding-top: 0;
    
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    
}
.navbar-brand{
    font-size: 1.5em;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 1em;

    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    
}

.nav-link{
    padding-bottom: 0;
    padding-top: 0;
  
    
}
.nav-link:hover{
   
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 1em;
    text-shadow: 0.1em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    
}

img{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bg-dark{
    background-color: #272930!important;
}

.jumbotron{
    background-color: #17181c;
    color: aliceblue;
    padding: 0;
    height: 70vh;
}

#spaceInvader{
    position: absolute;
    top: 32vh;
    left: 40px;
    width: 300px;
    animation-name: pomeraj;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-left: 0;
    
}
@keyframes pomeraj {
    0% { left:0px; right:0px;}
    50% {left:1200px; right:0px;}
    100% {left:0px; right:0px;}
     
  }
.responsive {
    width: 100%;

}
#techs{
    margin-top: 4em;
}
.techs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 20px;
}
.w3-sidebar {
margin-top: 51px;
}
.tech {
    text-align: center;
    padding: 1rem;
    color: white;
    transition: transform 0.2s;
}
  
.tech:hover {
    color: #eee;
    background-color: #363842;
    transform: scale(1.1);
    border-radius: 30px;
    text-shadow:  0 0.2em 0 rgba(255, 0, 0, 0.75),
    -0.1em -0.1em 0 rgba(0, 255, 0, 0.75),
    0.2em 0.1em 0 rgba(0, 0, 255, 0.75);
}
  
.tech i {
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.tech i:hover{
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

#techs h2{
    font-family:'VT323', monospace;
}

@media only screen and (max-width:1000px){
    .jumbotron{
        height: 50vh;
    }
}



@media only screen and (max-width:800px){
    .techs {
        grid-template-columns: 1fr;
    }
    .jumbotron{
        height: 40vh;
    }
}

@media only screen and (max-width:650px){
    .responsive{
        margin-top: 1em;
    }
}

@media only screen and (max-width:600px){
    .jumbotron{
        height: 30vh;
    }
}

@media only screen and (max-width:500px){
    .responsive{
        margin-top: 2em;
    }
}

@media only screen and (max-width:420px){
    .jumbotron{
        height: 25vh;
    }
}

.slope{
    clip-path: polygon(
        0 0,
        100% 0, 
        100% 100%,
        0 80%
      );
}